<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>
  </div>
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <app-lessons-context></app-lessons-context>
    </div>
  </div>
</div>
