<div class="container-fluid">
  <div class="row mb-4">
    <mat-card appearance="raised" class="box">
      <mat-card-content>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-lg-4 mb-2">
              <button class="btn w-100" routerLink="/console/admin/dashboard/constructivism/pre-intermediate">
                <span class="btn-text-one">PreIntermediate Level</span>
                <span class="btn-text-two">Let's play!</span>
              </button>
            </div>
            <div class="col-12 col-lg-4 mb-2">
              <button class="btn w-100" routerLink="/console/admin/dashboard/constructivism/intermediate">
                <span class="btn-text-one">Intermediate Level</span>
                <span class="btn-text-two">Let's play!</span>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
