<div class="container-fluid">
  <div class="row mb-4">
    <mat-card appearance="raised">
      <mat-card-content>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-lg-4 mb-2">
              <button mat-raised-button color="primary" class="w-100"
                      routerLink="/console/admin/dashboard/constructivism/pre-intermediate">PreIntermediate Level
              </button>
            </div>
            <div class="col-12 col-lg-4 mb-2">
              <button mat-raised-button color="accent" class="w-100"
                      routerLink="/console/admin/dashboard/constructivism/intermediate">Intermediate Level
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
