.register-card{
  height: 80vh;
  display: block;
  place-content: center;
  border-radius: 0 100px 100px 0;
  box-shadow: 0 0 10px #4b6584;
}

.login-btn{
  background-color: #4b7bec!important;
  color: #d1d8e0!important;
}

.register-btn{
  background-color: #3867d6!important;
  color: #d1d8e0!important;
}
