
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12 col-lg-4"><button mat-raised-button color="primary" class="w-100" routerLink="/console/admin/dashboard/plain-task/pre-intermediate">PreIntermediate</button>
        </div>
        <div class="col-12 col-lg-4"><button mat-raised-button color="accent" class="w-100" routerLink="/console/admin/dashboard/plain-task/medium">Medium</button>
        </div>
        <div class="col-12 col-lg-4"><button mat-raised-button color="warn" class="w-100" routerLink="/console/admin/dashboard/plain-task/intermediate">Intermediate</button></div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
