<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card class="outer" [ngClass]="{'answer-is-true': isAnswerCorrect}">
        <mat-card-header *ngIf="searchItem!=''" class="justify-content-center">
          <mat-card-title>
            <h1 class="mat-headline-4">Find {{ searchItem }}</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div *ngIf="isStarted && counter<dataList.length" cdkDropListGroup class="container-wrapper">
            <div class="example-container">
              <h2 class="mat-h2">Your Answer</h2>
              <mat-card class="answer-card">
                <div
                  cdkDropList
                  [cdkDropListData]="basket"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  @for (item of basket; track item) {
                    <mat-card class="example-box mat-elevation-z2" cdkDrag>
                      {{ item }}
                    </mat-card>
                  }
                </div>
              </mat-card>
            </div>

            <div class="example-container2">
              <h2 class="mat-h2">Answer List</h2>
              <mat-card class="answer-card">
                <div
                  cdkDropList
                  [cdkDropListData]="items"
                  class="example-list2"
                  cdkDropListSortingDisabled
                  (cdkDropListDropped)="drop($event)">
                  @for (item of items; track item) {
                    <mat-card class="example-box2 mat-elevation-z2" cdkDrag>
                      {{ item }}
                    </mat-card>
                  }
                </div>
              </mat-card>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions class="buttons justify-content-center">
          <div class="start-btn" *ngIf="!isStarted">
            <button mat-raised-button color="primary" (click)="start()">
              <mat-icon>play_arrow</mat-icon>
              Start
            </button>
          </div>
        </mat-card-actions>
        <mat-card-footer>
          <div class="d-flex align-items-center justify-content-end p-4 gap-2">
            <div class="reset" *ngIf="isStarted">
              <button mat-raised-button color="warn" (click)="reStartGame()">
                <mat-icon>refresh</mat-icon>
                Re Start
              </button>
            </div>
            <div class="next" *ngIf="isStarted && counter<dataList.length">
              <button mat-raised-button color="accent" (click)="moveToNext()">
                <mat-icon>arrow_forward</mat-icon>
                Next Question
              </button>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
