<div class="container-fluid m-0 p-0">
  <div class="row">
    <div class="col-12 m-0 p-0">
      <div class="outer" [ngClass]="{'answer-is-true': isAnswerCorrect}">
        <div *ngIf="searchItem!=''" class="header justify-content-center">
          <h1>Find {{ searchItem }}</h1>
        </div>
        <div *ngIf="isStarted && counter < dataList.length" class="image-container">
          <img [src]="dataList[counter].image" alt="Tree Image" class="tree-image">
        </div>

        <div *ngIf="isStarted && counter < dataList.length" class="container-wrapper">
          <div class="example-container2">
            <h2>Answer List</h2>
            <div class="answer-card">
              <div
                cdkDropList
                [cdkDropListData]="items"
                class="example-list2"
                cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)">
                @for (item of items; track item) {
                  <div class="example-box2" cdkDrag>
                    {{ item }}
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="example-container">
            <h2>Your Answer</h2>
            <div class="answer-card">
              <div
                cdkDropList
                [cdkDropListData]="basket"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of basket; track item) {
                  <div class="example-box" cdkDrag>
                    {{ item }}
                  </div>
                }
              </div>
            </div>
          </div>
        </div>

        <div class="buttons justify-content-center" *ngIf="!isStarted">
          <button class="start-btn" (click)="start()">
            <span>▶</span> Start Pre Intermediate Level Activities
          </button>
        </div>
        <div class="footer" *ngIf="isStarted">
          <div class="d-flex align-items-center justify-content-center p-4 gap-2">
            <button class="reset" (click)="reStartGame()">
              <span>⟳</span> Re Start
            </button>
            <button class="next" *ngIf="counter < dataList.length" (click)="moveToNext()">
              <span>→</span> Next Question
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
